#additional-info-textbox {
  display: flex;
  width: 872px;
  height: 200px;
  padding: 14px 16px 14px 16px;
  align-items: center;
  resize: none;
}

.order-summary {
  margin-left: 3rem;
  border-radius: 8px;
  border: 1px solid var(--Light-red, #c93f4f);
  background: var(--gray-scale-white, #fff);
  /* width: 415.833px; */
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

.order-sum,
.order-pay {
  margin-top: 0;
}

.product-basket {
  list-style-type: none;
  padding: 0;
}

.product-listing {
  display: flex;
  margin: 5px 0;
  display: flex;
  width: 376px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.product-listing__image {
  width: 50px;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  object-fit: cover;
  padding-right: 5px;
}

.product-listing__name {
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: var(--secondary-text);
}

.product-listing__amount {
  padding-left: 5px;
  padding-right: 20px;
}

.total {
  display: flex;
  padding-top: 10px;
  width: 376px;
  padding-top: 12px;
  justify-content: space-between;
  align-items: center;
}
.subtotal {
  display: flex;
  width: 376px;
  padding: 12px 0px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.payment-method label {
  display: block;
  margin: 10px 0;
}

.divide {
  background: var(--gray-100);
  margin: 0;
}
