.hot-product {
    display: flex;
    justify-content: center;
}

.products-of-category:not(:last-child) {
    margin-bottom: 40px;
}

.products-of-category__view-all::before {
    content: attr(data-desktop);
}

.products-of-category__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.products-of-category__view-all {
    display: flex;
    align-items: center;
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.products-of-category__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1.4rem;
}

.products-of-category__title {
    color: var(--gray-scale-gray-900, #1a1a1a);
    /* Heading 05/Heading 05 — 600 */
    font-size: 32px;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
}

.hot-product__scroll-container {
    height: 100%;
    overflow: auto;
    box-sizing: content-box;

    padding-bottom: 10px;
}

.hot-product__scroll-container::-webkit-scrollbar {
    width: 10px;
}

.hot-product__scroll-container::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 0.1px solid #b7b7b7;
    border-radius: 10px;
}

.hot-product__scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}

@media (max-width: 1000px) {
    .hot-product__scroll-container::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 450px) {
    .products-of-category__title {
        font-size: 25px;
    }
    .products-of-category__cards {
        gap: 1.2rem;
    }
}

@media (max-width: 531px) {
    .products-of-category__view-all::before {
        content: attr(data-mobile);
    }
}
