.catalog-filter {
    border: 0;
    min-width: 312px;
    max-width: 312px;
    margin-right: 35px;
    position: sticky;
    top: 20px;
}

.catalog-filter__block {
    border: 0 !important;
}

.catalog-filter__body {
    padding: 0 !important;
    padding-top: 20px !important;
    margin: 0;
    margin-bottom: 20px;
}

.catalog-filter__radio-control,
.catalog-filter__radio-control > * {
    cursor: pointer;
}

.catalog-filter__radio-control > .form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary) !important;
}

.catalog-filter__title > button {
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; /* 30px */
    background-color: transparent !important;
    box-shadow: 0 0 0 transparent !important;
}

.accordion-collapse.show .multi-range-slider {
    opacity: 1;
}

.accordion-collapse .multi-range-slider {
    opacity: 0;
    transition: .1s;
}

/* MOBILE */
.catalog__filter--mobile {
    margin: 0;
}

.catalog__filter-mobile-wrapper.catalog__filter-mobile-wrapper--opened {
    visibility: visible;
}

.catalog__filter-mobile-wrapper {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    background-color: var(--secondary);
    padding: 5rem 0 2rem 0;
    overflow: auto;
}

.catalog__filter-mobile-wrapper .catalog-filter__block button {
    padding: .5rem 0;
}

.catalog__filter-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.catalog__mobile-filter-button {
    display: none;
}

@media (max-width: 950px) {
    .catalog-filter--side {
        display: none;
    }
    .catalog__mobile-filter-button {
        display: block;
    }
}