.catalog-filter {
    border: 0;
    min-width: 312px;
    max-width: 312px;
    margin-right: 35px;
    position: sticky;
    top: 0;
    left: 0;
}

.catalog-filter__block {
    border: 0 !important;
    padding-bottom: 20px;
}

.catalog-filter__radio-control > .form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.catalog-filter__title > button {
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; /* 30px */
    background-color: transparent !important;
    box-shadow: 0 0 0 transparent !important;
    padding-bottom: 20px;
}

.catalog-filter__body {
    padding: 0 !important;
}