.catalog__title {
    margin-bottom: 25px;
}

.catalog__offers {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -20px;
}

.catalog__product {
    margin: 20px;
}

.catalog__not-found {
    display: block;
    margin: 20px auto;
    color: var(--gray-400);
    font-size: 18px;
}

.catalog__pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catalog__pagination > * {
    margin-right: 10px;
    margin-bottom: 10px;
}