.search-form {
    border: 2px solid white;
    border-left: none;
    color: white;
    padding-left: 0;
}

.search-form:focus {
    background-color: #c93f4f;
    color: white;
    outline: none;
    box-shadow: none;
    border: 2px solid white;
    border-left: none;
}

.search-form::placeholder {
    color: white;
}

.btn_white_theme {
    border: 2px solid white;
    border-radius: 6px;
    transition: 0.2s;
}

.btn_white_theme:hover {
    background-color: #c93f4f;
    color: white;
}

.btn_white_theme:active {
    background-color: white;
    color: #c93f4f;
    border: 2px solid white;
}

.btn_sizer {
    padding: 0.3rem 1rem;
}

.search_loop {
    border: 2px solid white;
    background-color: transparent;
    border-right: none;
}
