@media (max-width: 1426px) {
    #contacts-container {
        width: 70% !important;
    }
}

@media (max-width: 900px) {
    #contacts-container {
        width: 95% !important;
    }
}

@media (max-width: 769px) {
    .contacts-container .row {
        display: flex;
        flex-direction: column;
    }
    .contact-line {
        height: 2px;
        width: 100%;
    }
    .contacts-container .row .col {
        margin: 2rem 0;
    }
    .contacts-container .row .col-1 {
        width: 100%;
    }
    .contacts-container {
        max-width: 300px !important;
    }
}
