@media (max-width: 1200px) {
    #hotOffer-characteristics {
        width: 100% !important;
    }
    #hotOffer-gallery-adaptivity {
        align-items: start !important;
    }
}

@media (max-width: 464px) {
    #hotOffer-btn-basket {
        padding: 0rem 1rem !important;
    }
}

@media (max-width: 992px) {
    #hotOffer-gallery-adaptivity {
        display: block !important;
    }
    #hotOffer-gallery-adaptivity .col-5 {
        width: 100% !important;
        margin-bottom: 3rem !important;
    }
    #hotOffer-header-adaptivity {
        display: flex;
        justify-content: center !important;
    }
}
