
@media (max-width: 800px) {
    .featured {
        padding: 2rem;
        flex-wrap: wrap;
        /* gap: 2rem; */
        row-gap: 2rem;
        justify-content: center;
        align-items: default;
    }
}