.bottom-footer {
    background-color: var(--bg-primary);

    color: var(--light);
    font-size: 14px;

    position: relative;
}

.bottom-footer .container {
    padding-top: 60px;
}

.bottom-footer__row {
    padding-bottom: 24px;
    align-items: start;
}

.bottom-footer__bottom-row {
    border-top: 1px solid var(--light);
    padding: 24px 0;
}