.rounded-button {
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 43px !important;
    border: 0;
    background-color: var(--bg-primary);
    color: var(--light);
}