.product-card {
    width: 264px;
    height: 380px;
    flex-shrink: 0;
    padding: 2rem .6rem;
    position: relative;
    cursor: pointer;
}

.product-card .card-body {
    padding: 0;
}

.product-card .card-footer,
.product-card .card-header {
    display: flex;
    align-items: center;
    background-color: var(--light);
    border: 0;
    padding: 0;
    background: transparent;
}

.product-card .card-header {
    position: absolute;
    flex-wrap: wrap;
}

.product-card__header-item {
    padding: 3px 8px;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
}

.product-card__sale {
    background-color: var(--gray-900);
    color: var(--light);
}

.product-card__not-available {
    background-color: var(--gray-200);
    color: var(--dark-gray-text);
}

.product-card__image {
    padding: 10px;
    padding-bottom: 22px;
}

.product-card__title {
    font-size: 14px !important;
    margin: 0;
}

.product-card__title > a {
    color: var(--dark-gray-text) !important;
    text-decoration: none;
}

.product-card:hover .product-card__title > a {
    color: var(--primary) !important;
}

.product-card__button {
    margin-left: auto;
}

.product-card:hover .product-card__button {
    background-color: var(--primary);
    color: var(--primary-text)
}

.product-card__price {
    display: flex;
}

.product-card__price-actual, .product-card__price-old {
    font-size: 16px;
    font-style: normal;
    line-height: 150%; /* 24px */
}

.product-card__price-actual {
    font-weight: 500;
    color: var(--secondary-text);
}

.product-card__price-old {
    color: var(--gray-text);
    text-decoration: line-through;
}

@media (max-width: 560px) {
    .product-card {
        width: 47%;
        padding: 1rem .3rem;
    }

    .product-card__title {
        font-size: 13px !important;

        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        display: -moz-box;
        line-height: normal;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-line-clamp: 2;
    }

    .product-card__price {
        flex-direction: column-reverse;
    }

    .product-card__price-actual, .product-card__price-old {
        font-size: 14px;
    }
    
    .product-card__button {
        position: absolute;
        right: .5rem;
        bottom: .5rem;
    }
}

@media (max-width: 470px) {
    .product-card {
        width: 49%;
    }
}